{% extends 'moderate/header.html' %}{% load static %} {% block wrapper %}

<section class="col-10 container-fluid mx-0 px-0">
  <div class="secondary-color row mx-0 px-0">
    <h2 class="montserrat-bold mb-5" style="color: white">DASHBOARD</h2>
    <div class="col-12 row">
      <div class="col-4 d-flex flex-column align-items-center">
        <!--Update-->
        <div class="montserrat-bold circle d-flex justify-content-center align-items-center mb-5">
          31
        </div>
        <h3 style="color: white">Number OF PRODUCT</h3>
      </div>
      <div class="col-4 d-flex flex-column align-items-center">
        <div class="montserrat-bold circle d-flex justify-content-center align-items-center mb-5">
          2
        </div>
        <h3 style="color: white">Number OF PRODUCT</h3>
      </div>
      <div class="col-4 d-flex flex-column align-items-center">
        <div class="montserrat-bold circle d-flex justify-content-center align-items-center mb-5">
          10
        </div>
        <h3 style="color: white">Number OF PRODUCT</h3>
      </div>
    </div>
  </div>
  <div class="secondary-color row mx-0 px-0 mt-1" style="color: white">
    <div class="container-fluid pt-5">
      <h2 class="montserrat-bold text-start ms-5">Product information</h2>
      <h4 class="montserrat-light text-start ms-5 mt-3">
        Most Popular Product
      </h4>
    </div>
    <div class="container-fluid pt-5 px-5">
      <div class="row justify-content-evenly px-lg-5">
        <div class="col-2 px-1 my-3">
          <img src="../../static/assets/imgs/squareImage/4.png" alt="uniform" class="text-center col-12 image choice" />
          <p class="mx-auto text-center col-lg-10 col-12 mt-3 mb-2 py-2 montserrat-light border-bottom">
            Kendo Uniform Set
          </p>
          <p class="mx-auto text-center col-lg-10 col-12 pt-0 montserrat-light">
            2,030 baht
          </p>
        </div>
        <div class="col-2 px-1 my-3">
          <img src="../../static/assets/imgs/squareImage/5.png" alt="hakama" class="col-12 image choice" />
          <p class="mx-auto text-center col-lg-10 col-12 mt-3 mb-2 py-2 montserrat-light border-bottom">
            hakama
          </p>
          <p class="mx-auto text-center col-lg-10 col-12 pt-0 montserrat-light">
            2,400 baht
          </p>
        </div>
        <div class="col-2 px-1 my-3">
          <img src="../../static/assets/imgs/squareImage/6.png" alt="shinai" class="col-12 image choice" />
          <p class="mx-auto text-center col-lg-10 col-12 mt-3 mb-2 py-2 montserrat-light border-bottom">
            Shinai - Poong Rim
          </p>
          <p class="mx-auto text-center col-lg-10 col-12 pt-0 montserrat-light">
            1200 baht
          </p>
        </div>
        <div class="col-2 px-1 my-3">
          <img src="../../static/assets/imgs/squareImage/7.png" alt="shinai" class="col-12 image choice" />
          <p class="mx-auto text-center col-lg-10 col-12 mt-3 mb-2 py-2 montserrat-light border-bottom">
            Hakama National Team
          </p>
          <p class="mx-auto text-center col-lg-10 col-12 pt-0 montserrat-light">
            1200 baht
          </p>
        </div>
        <div class="col-2 px-1 my-3">
          <img src="../../static/assets/imgs/squareImage/8.png" alt="shinai" class="col-12 image choice" />
          <p class="mx-auto text-center col-lg-10 col-12 mt-3 mb-2 py-2 montserrat-light border-bottom">
            Chung Un 2.5 mm
          </p>
          <p class="mx-auto text-center col-lg-10 col-12 pt-0 montserrat-light">
            18,000 baht
          </p>
        </div>
      </div>
      <div class="row justify-content-evenly px-lg-5">
        <div class="col-2 px-1 my-3">
          <img src="../../static/assets/imgs/squareImage/9.png" alt="shinai" class="col-12 image choice" />
          <p class="mx-auto text-center col-lg-10 col-12 mt-3 mb-2 py-2 montserrat-light border-bottom">
            5 mm DO
          </p>
          <p class="mx-auto text-center col-lg-10 col-12 pt-0 montserrat-light">
            3,200 baht
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endblock wrapper %}
</section>