{% if messages %}
{% for message in messages %}
<div class="d-flex justify-content-center my-2 montserrat-bold">
    <h1 class="bg-success px-3 py-3 rounded" style="color: white">{{message}}</h1>
</div>
{% endfor %}
{% endif %}

{{ cart|length }}

<!--success-->
<div class="d-flex justify-content-center my-4 montserrat-bold">
    <h1 class="bg-success px-3 py-3 rounded" style="color: white">{{message}}</h1>
</div>

<!--error-->
<div class="d-flex justify-content-center my-4 montserrat-bold">
    <h1 class="bg-danger px-3 py-3 rounded" style="color: white">{{message}}</h1>
</div>