{% extends 'core/header.html' %}{% load static %} {% block wrapper %}
<!-- prettier ignore -->
{% if messages %} {% for message in messages %}
<div>
  <h1>{{message}}</h1>
</div>
{% endfor %} {% endif %}
<body class="d-flex flex-column">
  <!--Main Body-->

  <section>
    <form action="./" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container text-center">
        <div class="row">
          <div class="col-12 mt-5">
            <h1 class="montserrat-bold">Sign Up</h1>
          </div>
          <div class="col-12 mt-2">
            <p class="montserrat-light">
              Your personal information is protected and not be disclosed.
            </p>
          </div>
          <!-- Select Image (Not sure about this) -->

          <div class="col-12 mt-2">
            <div class="mb-1 d-flex justify-content-center">
              <img
                id="selectedImage"
                src="../../static/assets/imgs/human.png"
                alt="example placeholder"
                style="width: 100px; height: 100px; border-radius: 100%"
              />
            </div>
            <button disabled name="btn" id="camera">
              <label class="form-label text-white m-1" for="customFile1"
                ><img src="../../static/assets/imgs/camera.svg" alt="camera"
              /></label>
              <input
                name="user_profile"
                type="file"
                class="form-control d-none"
                id="customFile1"
                onchange="displaySelectedImage(event, 'selectedImage')"
              />
              <script src="../../static/assets/js/display.js"></script>
            </button>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <!-- Input action and method to firstName-->
          <div class="col-lg-5 col-8 form-floating">
            <input name="firstname" type="text" class="form-control" />
            <label class="mx-2"
              >First name <span style="color: red">*</span></label
            >
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <!-- Input action and method to lastName-->
          <div class="col-lg-5 col-8 form-floating mt-4">
            <input name="lastname" type="text" class="form-control" />
            <label class="mx-2"
              >Last name <span style="color: red">*</span></label
            >
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <!-- Input action and method to lastName-->
          <div class="col-lg-5 col-8 form-floating mt-4">
            <input
              class="form-control"
              type="tel"
              id="telephone"
              name="telephone"
              pattern="[0-9]{10}"
            />
            <label class="mx-2"
              >Telephone <span style="color: red">*</span></label
            >
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <!-- Input action and method to email-->
          <div class="col-lg-5 col-8 form-floating mt-4">
            <input name="email" type="email" class="form-control" />
            <label class="mx-2">Email<span style="color: red">*</span></label>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <!-- Input action and method to email-->
          <div class="col-lg-5 col-8 form-floating mt-4">
            <input name="username" type="text" class="form-control" />
            <label class="mx-2"
              >username<span style="color: red">*</span></label
            >
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <!-- Input action and method to password-->
          <div class="col-lg-5 col-8 form-floating mt-4">
            <input name="password" type="password" class="form-control" />
            <label class="mx-2"
              >Password <span style="color: red">*</span></label
            >
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <!-- Input action and method to confirm password-->
          <div class="col-lg-5 col-8 form-floating mt-4">
            <input
              name="confirm_password"
              type="password"
              class="form-control"
            />
            <label class="mx-2"
              >Confirm Password <span style="color: red">*</span></label
            >
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <!-- Input action and method to sign up button-->
          <div class="mx-auto mt-4">
            <button
              class="btn btn-dark px-3 montserrat-light"
              type="submit"
              name="submit"
              value="True"
            >
              Sign up
            </button>
          </div>
        </div>
      </div>
    </form>
  </section>
</body>
{% endblock wrapper %}
