.icon {
    height: 100px;
    width: auto;
}

.primary-color {
    background-color: #DFDDDA;
}

.secondary-color {
    background-color: #3A3A3A;
}

.montserrat-light {
    font-family: "Montserrat", serif;
    font-weight: 500;
}

.montserrat-bold {
    font-family: "Montserrat", serif;
    font-weight: 600;
}

.blackbox {
    border-radius: 20%;
    background-color: #22262C;
}

#camera {
    border: 0;
    background: None;
    position: relative;
    left: 40px;
    bottom: 25px;
}