{% extends 'core/header.html' %}{% load static %} {% block wrapper %}

<body class="d-flex flex-column">
  <div id="header"></div>

  <section>
    <button class="btn mt-5 col-3" onclick="history.go(-1)">
      <img
        src="../../static/assets/imgs/arrow.png"
        alt="arrow"
        style="width: 60px"
      />
    </button>
    <form action="./" method="post">
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <h1 class="montserrat-bold text-center col-6 mt-5 pt-1">Payment</h1>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-8 mt-5">
            <div class="card text-dark" style="background-color: #c4c4c4">
              <div class="card-header px-5 montserrat-bold text-center">
                Order Summary
              </div>
              <div class="card-body container pb-0">
                <div class="row">
                  <p class="col-6">Subtotal:</p>
                  <p class="col-6">21,230 Baht</p>
                </div>
                <div class="row pb-5">
                  <p class="col-6">Shipping:</p>
                  <p class="col-6">100 Baht</p>
                </div>

                <div class="row bg-dark text-light pt-3">
                  <p class="col-6">Total</p>
                  <p class="col-6">{{cart.calculate_total_price}} Baht</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-12 mt-5 ms-5 ps-5">
            <h4 class="montserrat-light mb-4 ms-5">Payment Option</h4>
            {% if user.is_authenticated %}
            <input
              type="radio"
              class="btn-check"
              name="options"
              id="option1"
              data-bs-toggle="collapse"
              data-bs-target="#cash"
              aria-controls="cash"
              value="cash"
              required
            />
            <label
              class="btn btn-outline-dark col-8 pt-3 ms-5 d-flex justify-content-start"
              for="option1"
            >
              <p class="montserrat-light">Cash on delivery</p>
            </label>
            {% endif %}

            <input
              type="radio"
              class="btn-check"
              name="options"
              id="option2"
              data-bs-toggle="collapse"
              data-bs-target="#qr"
              aria-controls="qr"
              value="qr"
              required
            />
            <label
              class="btn btn-outline-dark col-8 pt-3 ms-5 mt-3 d-flex justify-content-start"
              for="option2"
            >
              <p class="montserrat-light">Qr Prompt Pay</p>
            </label>

            <input
              type="radio"
              class="btn-check"
              name="options"
              id="option3"
              value="card"
              required
            />

            <label
              class="btn btn-outline-dark col-8 pt-3 ms-5 mt-3 d-flex justify-content-start"
              for="option3"
              data-bs-toggle="collapse"
              data-bs-target="#credit"
              aria-controls="credit"
            >
              <p class="montserrat-light">Credit card</p>
            </label>

            <div id="accordion">
              <div
                class="collapse mt-5 col-10"
                id="qr"
                data-bs-parent="#accordion"
              >
                <div class="d-flex justify-content-center">
                  <img src="{% static 'assets/imgs/qr.png' %}" alt="qr" />
                </div>
                <p class="montserrat-light text-center mt-3">
                  Please proceed with the transaction within 1 hour
                </p>
              </div>

              {% if user.is_authenticated %}
              <!-- TODO :OAT PLEASE IMPLEMENT this -->
              {% else %}
              <div
                class="collapse mt-5 col-10 ms-5"
                id="credit"
                data-bs-parent="#accordion"
              >
                <div class="d-flex">
                  <img
                    src="../../static/assets/imgs/visa.png"
                    alt="visa"
                    style="width: 60px"
                  />
                  <img
                    src="../../static/assets/imgs/master.png"
                    alt="visa"
                    style="width: 60px"
                  />
                </div>

                <div class="mt-4">
                  <div class="col-8 form-floating">
                    <input name="address" type="text" class="form-control" />
                    <label class="mx-2"
                      >Card number <span style="color: red">*</span></label
                    >
                  </div>
                </div>
                <p class="montserrat-light ms-2 mt-4">
                  Expiration Date<span style="color: red">*</span>
                </p>
                <div class="mt-4 d-flex gap-4">
                  <div class="col-4 form-floating">
                    <input name="city" type="text" class="form-control" />
                    <label class="mx-2"
                      >Month <span style="color: red">*</span></label
                    >
                  </div>
                  <div class="col-4 form-floating">
                    <input name="city" type="text" class="form-control" />
                    <label class="mx-2"
                      >Year <span style="color: red">*</span></label
                    >
                  </div>
                </div>

                <div class="mt-4">
                  <div class="col-4 form-floating">
                    <input name="city" type="text" class="form-control" />
                    <label class="mx-2"
                      >Security Code <span style="color: red">*</span></label
                    >
                  </div>
                </div>
                <div class="mt-4">
                  <div class="col-8 form-floating">
                    <input name="address" type="text" class="form-control" />
                    <label class="mx-2"
                      >Cardholder Name <span style="color: red">*</span></label
                    >
                  </div>
                </div>
              </div>
              {% endif %}
              <div
                class="collapse mt-5 col-10"
                id="cash"
                data-bs-parent="#accordion"
              ></div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <button
            class="btn btn-dark w-25 px-3 montserrat-light"
            type="submit"
            name="submit"
            value="True"
          >
            Confirm
          </button>
        </div>
      </div>
    </form>
  </section>

  <div id="footer"></div>
</body>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
{% endblock wrapper %}
